body {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Francois One', sans-serif;
}

@media only screen and (max-width: 900px) {
    html, body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: fit-content;
        align-items: center;
        font-size: 0.30rem;
        margin: auto;
        flex-basis: 100%;
    }    

    img {
        display: block;
        height: auto;
        max-width: 100% !important;
    }

    .navigation {
        display: none;
    }

    img {
        max-width: 100%;
    }

    body {
        width: 100vw !important;
    }
}



.navigation nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    height: 64px;
}

nav .logo {
    display: flex;
}

.logo p {
    color: black;
    font-weight: bold;
    font-size: 38px;
}

.logo span {
    color: gray;
    font-weight: normal;
}

.navigation .nav {
    font-size: 36px;
    display: flex;
    justify-content: space-between;
}
.nav h4 {
    padding-right: 16px;
    font-weight: lighter;
}


/* Welcome section */

.banner {
    background-color: rgba(216, 210, 210, 0.815);
    display: flex;
    margin: auto;
    height: auto;
    width: 100%;
}

@media only screen and (max-width:900px) {
    .banner, .information, .courses-container, .exhibit .ending {
        width: 100%;
        flex-direction: column;
    }
    .banner .banner-image {
        display: block;
    }

    br {
        display: none;
    }
}

@media only screen and (max-width:900px) {
    .banner-info h1, .banner-info h2, .banner-info a {
        background-color: rgba(216, 210, 210, 0.815);
        max-width: 100%;
        flex-basis: 100%;
        font-size: 8rem !important;
        align-items: center;
        padding: 0px 0px;
    }

    .banner-info h1 {
        padding: 32px 16px;
    }

    .banner-info h2 {
        padding: 0px 16px;
        font-size: 16px;
    }

    .banner-info a {
        margin: 24px 16px 32px 16px;
        max-width: 100%;
        font-size: 16px;
    }
}


.banner .banner-image {
    padding: 32px 24px;
    flex-basis: 60%;
}

.banner .banner-info {
    margin: auto;
    position: relative;
    padding: auto 12px;
    justify-content: center;
    color: gray;

}

.banner .banner-info h1 {
    font-size: 80px;
    padding-bottom: 20px;
}   

.banner .banner-info h2 {
    font-size: 40px;
    padding-top: 20px;
}

.banner .banner-info a {
    position: relative;
    text-align: center;
    background-color: gray;
    display: block;
    margin-top: 50px;
    font-size: 30px;
    padding: 8px 0px;
    color: white;
}

#start {
    font-weight: lighter;
    padding: 8px 0px;
}


/* Information section */

@media only screen and (max-width: 900px) {

    .information {
        padding: 0px !important;
        margin: 0px !important;
    }
    
    .information .info-left {
        display: none;
        flex-basis: 0%;
    }

    .flex-container .item img {
        padding: 0%;
        width: 100%;
        height: auto;
    }

    .item .first {
        display: block;
        padding-left: 16px;
        justify-content: center;
        float: left;
    }

    .flex-container {
        flex-direction: column;
        justify-content: center;
        padding: 0px !important;
        margin: 0px !important;
        background-color: white !important;
    }
    .flex-container .item {
        background-color: white;
        padding: 16px;
    }
    .item h2 {
        margin: 0px;
        padding: 0px;
    }
    .item h4 {
        margin: 0px;
        padding: 0px;
    }
    .item a {
        margin: 0px;
        padding: 0px;
    }
    .item p {
        margin: 0px;
        padding: 0px;
    }
}

.flex-container .item {
    flex-direction: column;
    padding: 16px;
    flex-basis: 100%;    
}





.information {
    display: flex;
    padding: 32px 24px;
    flex-basis: 60%;
    justify-content: center;
    align-items: center;
}

.info-left {
    padding-right: 24px;
}

.info-left #main {
    padding-top: 32px;
    font-size: 62px;
    color: rgb(78, 78, 78);
}

.info-left #info {
    padding-top: 24px;
    font-size: 28px;
    color: rgb(78, 78, 78);
}

.info-left #author {
    padding-top: 50px;
    font-size: 20px; 
    color: rgb(78, 78, 78);  
}

.flex-container {
    border-left: 1px solid lightgray;
    justify-content: center;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
}

.flex-container .item {
    display: flex;
    justify-content: center;
}

.flex-container img {
    height: auto;
    padding: 16px;
    
}

.flex-container .first {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    justify-content: center;
}

.flex-container, h2, h4, p {
    padding-bottom: 16px;
    
}

.flex-container h2 {
    font-size: 40px;
}

.flex-container h4 {
    font-size: 30px;
}

.flex-container p {
    font-size: 30px;
    color: cornflowerblue;
}

/* Courses Section */


@media only screen and (max-width: 900px) {

    .courses-container {
        background-color: white !important; 
        padding: 32px 0px;
        border-top: 1px solid lightgray;
        border-bottom: 1px solid lightgray;
    }

    .courses-container header {
        font-size: 42px !important;
    }



    .courses {
        padding: 0px !important;
        margin: 0px !important;
        flex-direction: column;
    }
    .course h2 {
        background-color: lightgray;
        margin: 0px 0px;
        padding: 0px;
        margin: 0px;
        font-size: 22px !important;
        letter-spacing: 2px;
    }

    .course {
        margin: 0px !important;
        padding: 0px 16px 8px 16px !important;
    }

    .course img {
        display: none;
        background-color: lightgray;
}
    .course p {
        display: none;
}

}

.courses-container {
    background-color: lightgray;
    padding: 32px 0px
}

.courses-container header {
    text-align: center;
    font-size: 56px;
}

.courses {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 72px;
    justify-content: space-between;
    margin: -32px 0px;

}

.courses img {
    height: auto;
}

.courses .course {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 32px 0px;
}

.courses .course h2, p {
    padding: 16px;
}

.courses p {
    padding: 8px auto;
    font-size: 22px;
}

.courses h2 {
    font-size: 30px;
}


/* exhibit section */

@media only screen and (max-width:900px) {
    .exhibit header {
        padding-top: 32px !important;
    }
    
    .ex-container {
        display: none !important;
    }

    .ex-left h2 {
        display: none;
    }

    .ex-left h6 {
        display: none;
    }

    .ex-left {
        flex-basis: 100% !important;
        padding: 16px 0px 24px 0px !important;
    }
}

.exhibit {
    width: 100%;
}

.exhibit header {
    text-align: center;
    font-size: 40px;
    padding: 32px 0px;
}

.ex-content {
    display: flex;
}

.ex-left {
    display: block;
    flex-basis: 60%;
    padding: 0px 24px;
}

.ex-left h2 {
    padding-top: 24px;
    font-size: 32px;
}

.ex-left h6 {
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 32px;
}

.ex-container {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
}

.ex-1 {
    display: flex;
    align-items: center;
    background-color: gray;
}

.ex-1 span {

    flex-basis: 65%;
}

.ex-1 span h2 {
    font-size: 40px;
}

.ex-1 span h6 {
    font-size: 28px;
}


.ex-1 img {
    padding: 16px;
    height: auto;
    flex-basis: 35%;
}





.ex-2 {
    display: flex;
    align-items: center;
    background-color: white;
}

.ex-2 img {
    padding: 16px;
    height: auto;
    flex-basis: 35%;
}

.ex-2 span h2 {
    font-size: 40px;
}

.ex-2 span h6 {
    font-size: 28px;
}

.ex-2 span {

    flex-basis: 65%;
}

/* footer section */

@media only screen and (max-width:900px) {
    .ending {
        border-top: 0px solid lightblue !important;
    }

    .ending footer nav {
        display: none;
    }

    .ending p {
        font-size: 16px;
        margin: 0px !important;
    }
}

.ending {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    border-top: 1px solid lightgray;
}

.ending p {
    float: left;
}

.ending footer {
    display: flex;
    align-items: center;  
    justify-content: space-between;
    width: 100%;

}

.ending  nav {
    display: flex;
    align-items: center;   
    float: right; 
}